body { 
	background-color: white;
	padding-top: 100 px;
}

#map { height: 500px; }

.list-group 
{
	height: 200px;
	overflow-y: scroll;
}

.list-group-item
{
	width: 100%;
}

.score .badge
{
	background:blue;
}

#cost{
	background:white;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}


