body { padding-top: 100 px;}
#map { height: 500px; }
.list-group 
{
	height: 200px;
	overflow-y: scroll;
}

.list-group-item
{
	width: 100%;
}

.score .badge
{
	background:blue;
}

#cost{
	background:white;
}
